<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Carta de la inundación
            <div class="card-header-actions">
              <a href="https://valor-software.com/ngx-bootstrap/#/carousel" target="_blank">
                <small className="text-muted">docs</small>
              </a>
            </div>
          </div>
          <div class="card-body">
                <img src="https://loremflickr.com/900/500/mountains?lock=1" alt="First slide" style="display: block; width: 100%;">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <div class="card-header">
            First Risk 
          </div>
          <div class="card-body">
              ¿Deseas eliminar a la población sin protegerla?
              <textarea type="nombre" class="form-control" id="nombreInput"
               placeholder="Titulo de la Tarjeta" 
               required 
               [(ngModel)]="model.titulo"
               name="nombre" [disabled]="true">
            </textarea>
            <textarea type="descripcion" class="form-control" id="descripInput"
            placeholder="Descripcion de la Tarjeta" 
            required 
            [(ngModel)]="model.descripcion"
            name="descripcion" [disabled]="true">
            </textarea>
            <textarea type="costo" class="form-control" id="costoInput"
            placeholder="Costo de la Tarjeta" 
            required 
            [(ngModel)]="model.Costo"
            name="costo" [disabled]="true">
            </textarea>
            <textarea type="bienestar" class="form-control" id="bienestarInput"
            placeholder="Bienestar de la Tarjeta" 
            required 
            [(ngModel)]="model.Bienestar"
            name="bienestar" [disabled]="true">
            </textarea>
            <textarea type="CantidadPob" class="form-control" id="CantidadPobInput"
            placeholder="Cantidad población de la Tarjeta" 
            required 
            [(ngModel)]="model.CantidadPob"
            name="CantidadPob" [disabled]="true">
            </textarea>
            
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
        <button type="button" class="btn btn-block btn-success" (click)="cargarTarjeta()" >Si</button>
      </div>
      <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
        <button type="button" class="btn btn-block btn-danger">No</button>
      </div>
    </div>
    
  

  