<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Carta de la inundación
            <div class="card-header-actions">
              <a href="https://valor-software.com/ngx-bootstrap/#/carousel" target="_blank">
                <small className="text-muted">docs</small>
              </a>
            </div>
          </div>
          <div class="card-body">
                <img src="https://loremflickr.com/900/500/mountains?lock=1" alt="First slide" style="display: block; width: 100%;">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <div class="card-header">
            First Risk 
          </div>
          <div class="card-body">
              ¿Deseas eliminar a la población sin protegerla?
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
        <button type="button" class="btn btn-block btn-success" [routerLink]="['/map']">Si</button>
      </div>
      <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
        <button type="button" class="btn btn-block btn-danger">No</button>
      </div>
    </div>
    
  </div>
  