<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container contenido">
      <div class="row">
        <div class="mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form>
                 <div class="input-group mb-3">
                  <div class="foto">
                    <img src="https://via.placeholder.com/250" alt="">
                  </div>
                 </div>
                  <div class="row">
                    <div class="col-12">
                      <h1>Bienvenido gurú</h1>
                      <p>Tu misión es...</p>
                      <button type="button" class="btn btn-lg btn-block btn-outline-warning px-4" [routerLink]="['/instructions']">Instrucciones</button>
                    </div>
                    </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
