<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Carta de la inundación
            <div class="card-header-actions">
              <a href="https://valor-software.com/ngx-bootstrap/#/carousel" target="_blank">
                <small className="text-muted">docs</small>
              </a>
            </div>
          </div>
          <div class="card-body">
                <img src="https://loremflickr.com/900/500/mountains?lock=1" alt="First slide" style="display: block; width: 100%;">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <div class="card-header">
            En la inundación
          </div>
          <div class="card-body">
            Una inundación es la ocupación por parte del agua de zonas que habitualmente están libres de esta, por desbordamiento de ríos, torrentes o ramblas, por lluvias torrenciales, deshielo, por subida de las mareas por encima del nivel habitual, por maremotos, huracanes, entre otros.
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
        <button type="button" class="btn btn-block btn-success" [routerLink]="['/map']">Siguiente</button>
      </div>
      <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
        <button type="button" class="btn btn-block btn-danger" [routerLink]="['/1980']">Anterior</button>
      </div>
   </div>
  </div>
  