<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form>
                  <figure>
                    <img src="https://i.pinimg.com/originals/ca/59/bc/ca59bcf53f9cc973351d1a1a75ed2821.png" alt="The Pulpit Rock" width="304" height="500">
                  </figure>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary d-md-down-none py-5 my-n3" style="width:44%; padding-top:10rem!important;">
              <div class="card-body text-justify" >
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, auctor dignissim eros massa praesent penatibus viverra, mattis posuere sollicitudin pretium mollis eleifend. Iaculis eros dictum tristique cursus inceptos fusce proin ligula praesent, cum felis bibendum torquent mauris taciti natoque arcu laoreet enim, sociosqu ornare varius ut nunc vestibulum nisl accumsan. Leo parturient rhoncus fames morbi ultrices tempor magna, dictumst fermentum fringilla velit libero ac posuere, hac ut orci taciti aenean praesent.</p>
                <div class="col-6">
                  <button type="button" style="background-color: #000000;" [routerLink]="['/1980']" class="btn btn-primary px-4">Siguiente</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
